extends ../../layouts/default_admin.pug

block main
  h1.mb-4 Thêm mới sản phẩm

  form(action=`${prefixAdmin}/product/create` id="form-create-product" method="POST" enctype="multipart/form-data")
    .form-group
      label(for="title") Tiêu đề
      input(type="text" class="form-control" name="title" id="title" required )

    .form-group
      label(for="desc") Mô tả
      textarea.form-control(name="description"  id="desc" rows="5")

    .form-group
      label(for="price") Giá
      input.form-control#price(type="number" name="price"  value="0")

    .form-group
      label(for="discount") % Giảm giá
      input.form-control(type="number" id="price" name="discount" value="0" min="0")

    .form-group
      label(for="stock") Số lượng
      input.form-control#stock(type="number" name="stock" value="0" )

    div(class="form-group" uploads-image)
      label(for="thumbnail") Ảnh
      input(type="file" class="form-control-file" uploads-image-input name="thumbnail" accept="image/*")
      div(uploads-image-wrapper style="position: relative; display: inline-block;")
        img(src="" uploads-image-preview alt="" style="max-width: 200px; display: none;")
        button(type="button" class="btn-close" aria-label="Close" uploads-image-remove style="display:none; position: absolute; top:5px; right:5px; background: #fff; border: none; font-size:18px; cursor:pointer;") X


    .form-group
      label(for="position") Vị trí
      select.form-control#position(name="position")
         option(value="") Tự động tăng

    .form-group
      label Trạng thái
      .form-check
        input.form-check-input(type="radio" id="status-active" name="status" value="active" checked)
        label.form-check-label(for="status-active") Hoạt động
      .form-check
        input.form-check-input(type="radio" id="status-inactive" name="status" value="inactive")
        label.form-check-label(for="status-inactive") Dừng hoạt động

    button.btn.btn-primary(type="submit") Tạo mới

    script(src="/admin/js/create.js") 